<div class="container text-center mt-5">

    <h1>Update Product</h1>

</div>

<div class="container w-75 b">
    <form (ngSubmit)="updateProduct(updateProductForm)" #updateProductForm="ngForm" action=""  class="container text-center">
        <input [(ngModel)]="pData.id" type="text" placeholder="Product ID" name="id" id="id"><br>
        <input [(ngModel)]="pData.productName" type="text" placeholder="Product Name" name="productName" id="productName"><br>
        <input [(ngModel)]="pData.categoryId" type="text" placeholder="Category" name="Category" id="Category"><br>
        <input [(ngModel)]="pData.price" type="text" placeholder="Price" name="price" id="price"><br>
        <input [(ngModel)]="pData.productImage" type="text" placeholder="Product Image" name="image" id="image"><br>
        <input [(ngModel)]="pData.description" type="text" placeholder="Description" name="des" id="des"><br>
        <input [(ngModel)]="pData.isAvailable" type="text" placeholder="Availability" name="Availability" id="Availability"><br>
        <input [(ngModel)]="pData.rating" type="text" placeholder="Rating" name="rating" id="rating"><br>
        <input [(ngModel)]="pData.review" type="text" placeholder="Reviews" name="review" id="review"><br>
        <input [(ngModel)]="pData.vendorName" type="text" placeholder="Vendor" name="Vendor" id="Vendor"><br>
        <input [(ngModel)]="pData.warrenty" type="text" placeholder="Warranty" name="warrenty" id="warrenty"><br>

        <button>UPDATE</button>
    </form>

</div>