  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!"><h1><i class=" fa fa-light fa-globe"></i> Digital World</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" style=" color: rgb(50, 126, 158);" aria-current="page" href="#!" ><h5>Home</h5></a></li>
                <li class="nav-item"><a class="nav-link"  href="products/add_product"><h5>Add New Product</h5></a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#!"></a></li> -->
            </ul>
            <form class="d-flex">
                <input [(ngModel)]="searchTerm" (keyup)="search($event)" class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button style="border: 2px solid rgb(50, 126, 158); height: 40px; width: 100px; border-radius: 5px; color:rgb(50, 126, 158);;" type="submit">Search</button>
            </form>
             
              <form class="ms-5">
                <button style=" color: rgb(50, 126, 158);" id="cart" type="submit">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header style="background-color: rgb(50, 126, 158);" class="py-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Laptops That Brings Out the Best In You</h1>
            <p class="lead fw-normal text-white-50 mb-0">While tablets and smartphones are still popular, most people agree that everything, from doing research for an assignment to playing hardcore games, works better on a laptop. It doesn't matter what your lifestyle is, there is always one for you at Digital World.</p>
        </div>
    </div>
</header>
